* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#tudo {
    display: grid;
    grid-template-rows: 27%;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    margin-top: 50px;
    width: 780px;
    zoom: 1.3;
    overflow: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(228, 226, 226);
    font-family: Helvetica;
}

#container1 {
    display: grid;
    grid-template-columns: 26% 1fr 1fr;
    gap: 20px;
}

.quadro1 {
    width: 200px;
    border-radius: 12px;
    font-size: 25px;
    background-color: rgb(252, 238, 218);
    color: rgb(0, 0, 0);
    padding: 30px;
    align-items: center;
    max-height: 65%;
}

.post {
    height: 75px;
    width: 150px;
}

#quadro2 {
    width: 350px;
    border-radius: 12px;
    font-size: 45px;
    background-color: blueviolet;
    color: white;
    padding: 38px;
    align-items: center;
    max-height: 55%;
}

.social {
    font-size: 35px;
}

.stars {
    height: 25px;
    width: 150px;
}

.over {
    font-size: 15px;
}

.quadro3 {
    width: 185px;
    border-radius: 12px;
    font-size: 25px;
    background-color: rgb(212, 169, 252);
    color: rgb(0, 0, 0);
    padding: 23px;
    align-items: center;
    padding-left: 10px;
}

.besttime {
    height: 250px;
    width: 175px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
}

.publish {
    font-size: 15px;
}

#container2 {
    display: grid;
    grid-template-columns: 32% 1fr;
    padding-left: 220px;
    margin-bottom: -159px;
    padding-top: 40px;
}

.quadro4 {
    width: 173px;
    border-radius: 12px;
    font-size: 25px;
    background-color: rgb(246, 246, 246);
    color: rgb(0, 0, 0);
    padding: 30px;
    align-items: center;
    height: 170px;
    margin-top: 49px;
}

.follow {
    height: 42px;
    width: 150px;
    border-top-left-radius: 22px;
    border-bottom-left-radius: 22px;
    padding-right: 7px;
}

.platforms {
    font-size: 15px;
}

.quadro5 {
    width: 173px;
    border-radius: 12px;
    font-size: 25px;
    background-color: rgb(245, 211, 98);
    color: rgb(0, 0, 0);
    padding: 29px;
    align-items: center;
    height: 170px;
    margin-top: 49px;
}

.date {
    height: 67px;
    width: 159px;
    margin: 7px;
    margin-left: -22px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.main {
    font-size: 15px;
}

#container3 {
    display: grid;
    grid-template-columns: 100% 1fr 1fr;
    gap: 30px;
    grid-template-rows: 100%;
    margin-top: -230px;
    margin-left: -250px;
}


.quadro6 {
    width: 200px;
    border-radius: 12px;
    font-size: 25px;
    background-color: rgb(245, 211, 98);
    color: rgb(0, 0, 0);
    padding: 30px;
    align-items: center;
    height: 71%;
    padding-left: 23px;
    margin-left: 30px;
    margin-top: -30px;
}

.ai {
    height: 165px;
    width: 170px;
}

.quadro7 {
    width: 173px;
    border-radius: 12px;
    font-size: 25px;
    background-color: rgb(246, 246, 246);
    color: rgb(0, 0, 0);
    padding: 20px;
    align-items: center;
    height: 170px;
    margin-top: 117px;
    margin-left: -210px;
}

.number {
    font-size: 22px;
}

.faster {
    font-size: 18px;
}

.growth {
    height: 52px;
    width: 140px;
}

.quadro8 {
    height: 170px;
    width: 380px;
    background-color: blueviolet;
    border-radius: 12px;
    padding-left: 15px;
    padding-top: 12px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 117px;
    margin-left: -60px;
}

.follow1 {
    height: 150px;
    width: 170px;
}

.stop {
    color: white;
    font-size: 25px;
    margin-top: 23px;
}